.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #111827;
}

.dashboard-header {
  height: 55px;
  flex-shrink: 0;
}

.dashboard-content {
  flex: 1;
  height: 100%;
}